<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/styles.css">
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{>header}}


  <p>Use this site to know your weather</p>
  <form>
    <input type="text" placeholder="Location">
    <button> Search</button>
    <p id="location-id"></p>
    <p id="weather-id"></p>
  </form>
  <script src="./js/app.js"></script>
</body>
</html>